.employee-card {
    display: flex;
    padding: 20px;
    width: 385px;
    height: 245px;
    border: 1.5px solid #191919;
    border-radius: 20px;
    overflow: hidden;
    margin: 10px;
    margin-right: 30px;
    color: #172554;

}

.employee-image {

    object-fit: cover;
    border-radius: 20px;

}

.employee-info {
    margin-left: 20px;
    text-align: left;
    width: max-content;
}

.employee-card .employee-info h3 {
    margin: 8px 0;
    font-size: 15px;
    font-weight: 600;
}

.employee-info .role {
    margin: 8px 0;
    font-size: 13px;
}

.employee-info .degree {
    margin-top: 20px;
    font-size: 11px;
}

/* Media query for screens with a max-width of 400px */
@media (max-width: 400px) {
    .employee-card {
        flex-direction: column;
        /* Changes flex direction to column */
        width: 100px;
        /* Sets width to full */
        height: 190px;
        /* Reduces height */
        padding: 5px;
        overflow: hidden;
        border-radius: 10px;
        /* Adjust padding for smaller screen */
        align-items: center;
        /* Centers the items for a better mobile view */
        margin: 8px 5px 0 0;
        
    }

    .employee-image {
        margin-bottom: 10px;
        height: 83px;
        width: 88px;
        /* Adds space between the image and the text */
    }

    .employee-info {
        margin-left: 0;
        /* Removes left margin */
        text-align: center;
        /* Centers the text */
        width: 100px;
        /* Sets the width to full to align text properly */
    }
    .employee-card .employee-info h3 {
        margin: 6px 2px;
        overflow:inherit;
        font-size: 8px;
        font-weight: 600;
        padding: 5px;
        width: 100px;
        
    }
    .employee-info .role {
        margin: 4px 0;
        font-size: 5px;
    }
    
    .employee-info .degree {
        margin-top: 10px;
        font-size: 5px;
    }

    
}